name: CI/CD
on:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths-ignore:
      - '.gitignore'
      - '.mergify.yml'
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    concurrency:
      group: build-${{ github.workflow }}-${{ matrix.os }}-${{ github.event.number || github.ref }}
      cancel-in-progress: true
    env:
      GRADLE_OPTS: -Dorg.gradle.daemon=false
    steps:
      - name: Checkout
        uses: DanySK/action-checkout@0.2.27
      - uses: DanySK/build-check-deploy-gradle-action@4.0.13
        timeout-minutes: 120
        with:
          should-run-codecov: ${{ runner.os == 'Linux' }}
          should-deploy: ${{ contains(needs.staging-repo.result, 'success') }}
          build-command:
            ./gradlew classes
          check-command: |
            ./gradlew check

  test-extensively:
    needs:
      - build
    uses: ./.github/workflows/test-extensively.yml
#    secrets: inherit
