name: Test Extensively
on:
  workflow_call:
  workflow_dispatch:

jobs:
  test-jvm:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-2022, macos-14, ubuntu-22.04 ]
        java-version: [17, 21, 25]
        jdk-dist:
          - adopt-hotspot
          - temurin
#          - adopt-openj9
#          - zulu
    runs-on: ${{ matrix.os }}
    concurrency:
      group: build-${{ github.workflow }}-${{ matrix.os }}-${{ matrix.java-version }}-${{ matrix.jdk-dist }}-${{ github.event.number || github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: DanySK/action-checkout@0.2.27
      - uses: DanySK/build-check-deploy-gradle-action@4.0.20
        with:
          java-distribution: ${{ matrix.jdk-dist }}
          java-version: ${{ matrix.java-version }}
          build-command: |
            ./gradlew classes
          check-command: |
            ./gradlew jvmTest
          should-run-codecov: false

  test-js:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-2022, macos-14, ubuntu-22.04 ]
        node-version:
          - 'latest-20'
          - 'latest-22'
          - 'latest-24'
          - 'latest'
    runs-on: ${{ matrix.os }}
    env:
      ORG_GRADLE_PROJECT_nodeVersion: ${{ matrix.node-version }}
    concurrency:
      group: build-${{ github.workflow }}-${{ matrix.os }}-${{ matrix.node-version }}-${{ github.event.number || github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: DanySK/action-checkout@0.2.27
      - uses: DanySK/build-check-deploy-gradle-action@4.0.20
        with:
          build-command: |
            ./gradlew classes
          check-command: |
            ./gradlew jsTest
          should-run-codecov: false

  test-python:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-2022, macos-14, ubuntu-22.04 ]
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    runs-on: ${{ matrix.os }}
    concurrency:
      group: build-${{ github.workflow }}-${{ matrix.os }}-${{ matrix.python-version }}-${{ github.event.number || github.ref }}
      cancel-in-progress: true
    steps:
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Checkout
        uses: DanySK/action-checkout@0.2.27
      - uses: DanySK/build-check-deploy-gradle-action@4.0.20
        with:
          build-command: |
            ./gradlew createCoreJar restoreDependencies
          check-command: |
            ./gradlew jsTest
          should-run-codecov: false
